.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    margin: 0 auto 33px;
  }
}